.card{
    width:210px;
    border:1px grey;
    border-radius: 5px;
    border-style: 1px grey border ;
    text-align: center;

}

img{
    border: 5px rgb(red, green, blue);
    width:200px;
    box-sizing: border-box;
    border-style:2px solid black;
    border-radius: 50%;
    /* border-style:2px solid black; */
}
