body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}
#container{
    background-color: black;
    width:90%;
    height:500px;
    margin:0 auto;
    border: 5px solid white;
    display: flex;
    /* flex-direction */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* column */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* justify-content */
    /* justify-content: flex-start;
    justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: center;
    /* flex-wrap */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    /* align items */
    /* align-items: flex-start; */



}
#container div{
    width:200px;
    height: 200px;
    max-width: 300px;
    text-align: center;
    flex-basis:200px ;
    flex-grow: 1;

}
div:nth-last-of-type(1){
    flex-grow: 1;
}
div:nth-last-of-type(5){
    flex-grow: 2;
}