section{
    width: 500px;
    height:500px;
    background-color: blueviolet;
}
#rgba{
    width: 50%;
    height: 50%;
    background-color: rgb(219, 22, 22);
}
#opacity{
    width: 50%;
    height: 50%;
    background-color:yellow;
    opacity: 0.3;

}